.card{

     justify-content: center;
        align-items: center;
     display: flex;
   

}

div{

    margin:15px;
    justify-content: center;
    align-items: center;
 display: flex;
}

ion-card{
   margin-bottom: 20px;
}