<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Notifications  <ion-badge color="danger">{{length}}</ion-badge></ion-title>
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


      <ion-card   *ngIf="length===0" >

        <ion-card-content>
          <h4 color="medium"> No notifications available</h4>
        </ion-card-content>
      

    </ion-card>
    
    <ion-card  *ngFor="let noti of notification">
        


      <ion-card-content *ngIf="length!==0" >
        <h4 color="medium"> {{noti.message}}</h4>
      </ion-card-content>

    
    

  </ion-card>

</ion-content>
