<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col offset=1 size=9>
          <div style="position: relative">
          
            <ion-searchbar debounce=500  (ionInput)="searchParking($event)"  [(ngModel)]="searchInput"></ion-searchbar>
            <div style="position: absolute; width: 100%; z-index: 999;">
              <ion-list lines="none"  *ngIf="searchInput.length > 0">
                <ion-item  *ngFor="let space of parking_spaces_List | customFilter:searchInput"  (click)="loadParkingAreas(space)">
                  <ion-icon name="pin"></ion-icon>
                 
                  {{space.location}}
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div #map id="map"  class="map" ></div>


  </ion-content>
