<ion-header>
  <ion-toolbar>
    <ion-title>Book Parking</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content>

  <IonItem>
    <IonLabel position="fixed">Parking Slot code</IonLabel>
    <IonInput value={text}></IonInput>
  </IonItem>


  <IonItem>
    <IonLabel position="fixed">Time in</IonLabel>
    <IonInput value={text}></IonInput>
  </IonItem>

  <IonItem>
    <IonLabel position="fixed">License Plate Number</IonLabel>
    <IonInput value={text}></IonInput>
  </IonItem>

</ion-content>
