<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-item>
    <ion-label position="stacked">Parking Slot Code</ion-label>
    <ion-input> {{parkingSpace.code}}</ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Time In</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">License Plate Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-button color="medium"  expand="full">Next</ion-button>
  </ion-toolbar>
</ion-footer>
