<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Park </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
     <div class="container">
        <div class="items">
          <ion-label position="stacked">Parking Slot Code</ion-label>
          <ion-input  [(ngModel)]="driver.parkingCode" readonly> {{parkingSpace.code}}</ion-input>
        </div>


        <div  class="items">
          <ion-label position="stacked">Time In</ion-label>
          <ion-input [(ngModel)]="driver.sentTime" readonly></ion-input>
        </div>

        <div  class="items">
          <ion-label position="stacked">License Plate Number</ion-label>
          <ion-input [(ngModel)]="driver.license"></ion-input>

        </div>

     </div>


</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-button color="secondary"  expand="full" (click)="goToPaymentMethod()">Next</ion-button>
  </ion-toolbar>
</ion-footer>
