.card{
    border: 2px solid #ffffff;
}

ion-img{
    width:70px;
    height:70px;
}


ion-item {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;



}


ion-card
{
  border-radius: 40px;



}

