<ion-header>
  <ion-toolbar>
    <ion-title>Parking Areas</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>




<ion-grid>
  <ion-row>
      <ion-col *ngFor="let space of parking_spaces_List" col-12 col-md-6 col-xl-3>

        <ion-card *ngIf="space.location ===  parkingArea.location"  class="card" (click)="park(space)">
          <ion-item>
      
            <ion-label>{{space.code}}</ion-label>
        
          </ion-item>
        </ion-card>

      </ion-col>



  </ion-row>
</ion-grid>


</ion-content>
