p {
    text-align: center;
}
.loginBtn {
    width: 70%;
    height: 50px;
}
.login {
    text-align: center;
}
.input {
    border: 1px groove #c5c5c5;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #a19f9f;
    padding:10px;
    font-weight: 100;
}


div{
    text-align: center;

margin-bottom: 30px;
}


.img{

display: block;
margin-left: auto;
margin-right: auto;
width: 25%;

}


ion-img {
    width:120px;
    height:120px;


   
}