<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>


        <!-- Side menu button -->
        <ion-buttons slot="end" (click)="goToAddPayment()">
       
        </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>


<div>
  <h2> Smart Parking</h2>


</div>

<div class="img"> 
  <ion-img [src]="logoUrl"></ion-img>
</div>
                  
  <ion-list>
      <ion-item>
          <ion-input class="input" type="text" placeholder="Email"  [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input type="password" class="input" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
  </ion-list>

  <div class="login">
      <ion-button round outline color="secondary" class="loginBtn" (click)=" loginUser()">Login</ion-button>
  </div>`

  <div>
    <p> <a  (click)="goToForgetPassword()">Forget Password </a></p>
  </div>



</ion-content>

<ion-footer>
  <p>Don't have an account?<a (click)="goToSignUp()"> Join now</a></p>
</ion-footer>