<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>


        <!-- Side menu button -->
        <ion-buttons slot="end" (click)="goToAddPayment()">
         
        </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content padding>

  <div>
    <h2> Sign-up</h2>
</div>


  <ion-list>
      <ion-item>
          <ion-input class="input" type="license" placeholder="License Plate No." [(ngModel)]="user.license"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="input" type="name" placeholder="Full Name" [(ngModel)]="user.fullName"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input class="input" type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item> 

      <ion-item>
          <ion-input type="password" class="input" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>



  </ion-list>

  <br>

  <div class="login">
      <ion-button round outline color="secondary" class="loginBtn" (click)="registerUser()">Register</ion-button>
  </div>`



</ion-content>
