p {
    text-align: center;
}
.loginBtn {
    width: 70%;
    height: 50px;
}
.login {
    text-align: center;
}
.input {
    border: 1px groove #c5c5c5;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #a19f9f;
    padding:10px;
}


div{
    text-align: center;
    
    margin-bottom: 30px;;
    
    }