@media (prefers-color-scheme: dark) {
   :root {
     /* dark mode variables go here */
   }
 }




.card{

    justify-content: center;
       align-items: center;
    display: flex;
  border-color: rgb(23, 26, 65);

}

div{

   margin:15px;
   justify-content: center;
   align-items: center;
display: flex;
}

ion-card{
  margin-bottom: 20px;
width:90%;
height: 300px;

border-radius: 15px;
}

ion-img{
   width:200px;
   height:150px;
}