<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Parking Information</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-grid>
    <ion-row>
        <ion-col col-12 col-md-12 col-xl-12>
  

          <ion-card >
            <ion-card-title >Current Parking Details</ion-card-title>
            <hr>

              <ion-card-content>
              <h4 color="medium"> <span>License Plate Number:</span> {{driver.license}}</h4>
                <br>
              <h4 color="medium">  <span>Parking Area:  </span>{{spaces.code}}</h4>  
              <br>
              <h4 color="medium"><span>Parking Location: </span>{{spaces.location}}</h4>
              <br>
              <h4 color="medium"> <span>Time in:</span> {{driver.sentTime}}</h4>
 <br>
              <h4 color="medium"><span>Time out:</span></h4>
              </ion-card-content>

              <ion-card-header>
              
                
              </ion-card-header>

          </ion-card>


        </ion-col>
  
    </ion-row>
  </ion-grid>




</ion-content>