
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
 


  .input {
    border: 1px groove #c5c5c5;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #a19f9f;
    padding:10px;
    font-weight: 100;
}