<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Forget Password</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="Login">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <div>
              <ion-item>
                <ion-input class="input" placeholder="Email address " type="text"  inputmode="text" [(ngModel)]="email"></ion-input>
              </ion-item>
      
              <ion-button color="secondary" id="submitButton" expand="full" (click)="getNewpassword()"><span id="submitText" >Change Password</span></ion-button>
             <br>
             <br>
              <a (click)="goToLogin()"><span id="submitText">Login</span></a>
            </div>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
       </ion-col>

       </ion-row>

       </div>
</ion-content>
